<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {{context.namepage}}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href='/static/style/style.css'>
</head>
<body>
<div class="header">
    <div>
        <a href="/">Главная страница</a>
    </div>
    <div>
        <h1> {{context.title}} </h1>
    </div>
</div>

<div class="info">
    <div>
        В ближайшее время Вам поступит письмо на почту, указанную при регистрации.
    </div>
</div>

<div class="back_page">
    <button><a href="/catalog">Вернуться в каталог</a></button>
</div>
</body>
</html>